{% extends 'base.html' %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>

{% if user not in course.students.all %}
    <a href="{% url 'online_courses:enroll_course' course.id %}" class="btn btn-primary">Записаться</a>
{% endif %}

<hr>

<h3>Модули и уроки ({{ course.modules.count }})</h3>
<p>Всего уроков: {{ course.modules.all|length }}</p>
<p>Всего модулей: {{ course.modules.count }}</p>

<ul>
    {% for module in course.modules.all %}
        <li><strong>{{ module.title }}</strong>
            <ul>
                {% for lesson in module.lesson_set.all %}
                    <a href="{% url 'online_courses:lesson_detail' lesson.id %}"><li>{{ lesson.title }}</li></a>
                {% empty %}
                    <li>Нет уроков</li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <p>Пока нет модулей.</p>
    {% endfor %}
</ul>
{% endblock %}