<!-- filepath: c:\Users\HOME\Desktop\PYTHON25\projects\school\online_courses\templates\course_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ course.title }}</h1>
    <p><strong>Описание:</strong> {{ course.description }}</p>
    <p><strong>Преподаватель:</strong> {{ course.teacher }}</p>

    {% if is_teacher %}
        <div class="mt-3 mb-3 d-flex justify-content-between">
            <a href="{% url 'online_courses:add_module_and_lesson' course.id %}" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                Добавить модуль или урок
            </a>
            <a href="{% url 'online_courses:add_quiz' course.id %}" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                Добавить квиз
            </a>
            <a href="{% url 'online_courses:add_homework' %}" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                Добавить домашнее задание
            </a>
            <a href="{% url 'online_courses:review_homework' course.id %}" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                Проверка домашнего задания
            </a>
        </div>
    {% endif %}

    <hr>
    <h2>Модули и уроки</h2>
    {% if modules %}
        <ul class="list-group">
            {% for module in modules %}
                <li class="course-card mb-3">
                    <h3>{{ module.title }}</h3>
                    <ul>
                        {% for lesson in module.lessons.all %}
                            <li class="course-card">
                                <a href="{% url 'online_courses:lesson_detail' course.id lesson.id %}">
                                    {{ lesson.title }}
                                </a>
                            </li>
                        {% empty %}
                            <li>Нет уроков</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Модули пока не добавлены.</p>
    {% endif %}

    <hr>

    <h2>Квизы</h2>
    <div class="mt-3 d-flex col-6 justify-content-between mb-4">

        {% if quizzes %}
            {% for quiz in quizzes %}
                {% if is_teacher %}
                    <a href="{% url 'online_courses:quiz_detail' quiz.id %}" class="btn btn-info">Просмотреть квиз</a>
                {% else %}
                    <a href="{% url 'online_courses:take_quiz' quiz.id %}" class="btn btn-primary fade-in">Пройти тест</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>К этому курсу пока не добавлен квиз.</p>
        {% endif %}
    
        {% if not is_enrolled and not is_teacher %}
        <form method="post" action="{% url 'online_courses:enroll_course' course.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Записаться на курс</button>
        </form>
        {% endif %}
    
        <a href="{% url 'online_courses:home' %}" class="btn btn-primary">Вернуться на главную</a>
    </div>
</div>
{% endblock %}
