{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Добро пожаловать на учебную платформу!</h1>
    <p>Привет, {{ user.username }}!</p>

    <div class="row">
        <div class="col-md-6">
            <h2>Курсы</h2>
            <p>Выберите курс для изучения:</p>
            <p>Количество курсов: {{ courses|length }}</p>
            <ul class="list-group">
                {% for course in courses %}
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'online_courses:course_detail' course.id %}" class="text-decoration-none">{{ course.title }} - учитель: {{ course.teacher }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Домашние задания</h2>
            <p>Количество домашних заданий: {{ homeworks|length }}</p>
            <ul class="list-group">
                {% for homework in homeworks %}
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'online_courses:review_homework' homework.id %}" class="text-decoration-none">{{ homework.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Доступные квизы</h2>
            <ul>
                {% for quiz in quizzes %}
                    <li>
                        <a href="{% url 'online_courses:take_quiz' quiz.id %}">{{ quiz.title }}</a>
                        (Курс: <a href="{% url 'online_courses:course_detail' quiz.course.id %}">{{ quiz.course.title }}</a>)
                    </li>
                {% empty %}
                    <p>Квизов пока нет.</p>
                {% endfor %}
            </ul>            
        </div>
    </div>

    {% if user.role == 'teacher' %}
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Добавить домашнее задание</h2>
                <p><a href="{% url 'online_courses:add_homework' %}" class="btn btn-primary">Добавить домашнее задание</a></p>
            </div>
        </div>
    {% elif user.role == 'student' %}
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Студенческая панель</h2>
                <p><a href="{% url 'online_courses:student_dashboard' %}" class="btn btn-primary">Перейти в студенческую панель</a></p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}