{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container mt-4" >
    <h1 class="fade-in">Добро пожаловать на учебную платформу!</h1>
    <p>Привет, {{ user.username }}!</p>

    <div class="row">
        <div class="mb-4 col-6 col-sm-3">
            <a href="{% url 'online_courses:teacher_list' %}" class="btn btn-outline-primary">
                Наши Педагоги
            </a>
        </div>
    
        <div class="mb-4 col-6 col-sm-3">
            <a href="{% url 'online_courses:student_list' %}" class="btn btn-outline-primary">
                Наши Студенты
            </a>
        </div>

        <div class="mb-4 col-6 col-sm-3">
            <a href="{% url 'online_courses:available_courses' %}" class="btn btn-secondary">
                Доступные курсы
            </a>
        </div>
    </div>

    {% if user.role == 'teacher' %}
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Добавить домашнее задание</h2>
                <p>
                    <a href="{% url 'online_courses:add_homework' %}" class="btn btn-primary">
                        Добавить домашнее задание
                    </a>
                </p>
            </div>
        </div>
    {% elif user.role == 'student' %}
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Студенческая панель</h2>
                <p>
                    <a href="{% url 'online_courses:student_dashboard' %}" class="btn btn-primary">
                        <i class="fas fa-user-graduate"></i> Перейти в студенческую панель
                    </a>
                </p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
