{% extends 'base.html' %}

{% block title %}Список тестов{% endblock %}

{% block content %}
<h1>Список тестов</h1>

{% if quizzes %}
    <ul class="list-group">
        {% for quiz in quizzes %}
            <li class="list-group-item list-group-item-action">
                <p><strong>Тест:</strong> {{ quiz.title }}</p>
                <p><strong>Описание:</strong> {{ quiz.description }}</p>
                <a href="{% url 'online_courses:take_quiz' quiz.id %}" class="btn btn-primary">Пройти тест</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет доступных тестов.</p>
{% endif %}

{% endblock %}