{% extends 'base.html' %}

{% block title %}Прохождение теста{% endblock %}

{% block content %}
<div class="quiz">
    <h2>{{ quiz.title }}</h2>
    <h3>{{ quiz.description }}</h3>
    <h3>{{ quiz.description }}</h3>
    <p></p>
    <form method="post">
        {% csrf_token %}
        {% for question in quiz.questions.all %}
            <div class="question">
                <h3>{{ question.text }}</h3>
                <ul class="answers">
                    {% for choice in question.get_choices %}
                        <li class="course-card">
                            <label class="w-100">
                                <input type="radio" name="question_{{ question.id }}" value="{{ choice }}">
                                {{ choice }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}